#map {
  height: 500px;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex: 1;
  height: 100%;
}

.column {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
}

.first-column {
  flex: 1;
  width: 33.33%;
}

.second-column {
  flex: 2;
  width: 66.66%;
}

.bar-plot {
  display: flex;
  justify-content: center;
  height: 95vh;
  max-height: 100%;
}

.plots {
  height: 100%;
}

circle :hover {
  fill: red;
}


/* Styling for the toggle switch */
.toggle-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle-switch label {
  background-color: #ccc;
  border-radius: 34px;
  display: block;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: background-color 0.3s;
}

.toggle-switch label:after {
  content: '';
  width: 26px;
  height: 26px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 4px;
  left: 4px;
  transition: transform 0.3s;
}

.toggle-switch input:checked+label {
  background-color: #4CAF50;
}

.toggle-switch input:checked+label:after {
  transform: translateX(26px);
}

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.column {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin: 10px;
  overflow: hidden;
}

;

#affichage {
  margin-top: 40px;
  padding: 20px;
  background-color: #ecf0f1;
  border-radius: 8px;
}

;

#map {
  height: 600px;
}

;


.hidden {
  display: none;
}

div.tooltip {
  background-color: #fff;
  padding: 0.5em;
  text-shadow: #f5f5f5 0 1px 0;
  border-radius: 2px;
  opacity: 0.8;
  position: absolute;
}